/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
}

.header{
    @apply bg-zinc-800 h-20 py-3 text-2xl;
}
.header_left{
    @apply flex float-left max-w-6xl justify-start;
}
.header_right{
    @apply flex float-right max-w-4xl justify-end;
}
.textheader_l{
    @apply flex text-white pr-20 py-3;
}
.textheader_r{
    @apply flex text-white pl-5 py-3;
}
.nav{
    @apply flex;
}
.nav_img{
    @apply h-1/2 float-left my-5;
}
.div_menu{
    @apply w-3/5 ml-20 flex items-center text-3xl font-normal justify-around;
}
.nav_menu_item{
    @apply hover:text-yellow-500 cursor-pointer;
}

.nav_button{
    @apply px-10 bg-yellow-400 h-20 ml-7 my-7 text-white text-2xl font-semibold;
}
.section{
    @apply h-max;
}
.img_banner{
    @apply h-max;
}
.banner_title{
    @apply absolute top-1/3 py-24 text-white text-7xl;
}
.banner_title1{
    @apply absolute top-2/4 text-white text-7xl;
}
.banner_detail{
    @apply absolute top-2/4 py-36 text-yellow-400 w-1/3 text-3xl;
}
.banner_button{
    @apply absolute px-20 top-3/4 text-white border-2 p-2 font-semibold text-2xl tracking-wider
    hover:bg-yellow-500 duration-300 transition-all hover:border-yellow-500;
}
.content{
    @apply flex pt-10;
}
.content_left{
    @apply w-1/3 mr-5;
}
.content_left_title{
    @apply text-5xl font-bold;
}
.content_left_des{
    @apply text-2xl text-zinc-400 leading-snug;
}
.content_left_button{
    @apply bg-yellow-500 text-white text-3xl px-5 py-3 mt-10 hover:text-black font-semibold;
}
.content_center{
    @apply w-1/3 mr-5;
}
.content_center_des{
    @apply text-2xl text-zinc-400;
}
.content_right{
    @apply w-1/3;
}
.content_right_des{
    @apply text-2xl text-zinc-400;
}
.img_content{
    @apply hover:bg-yellow-300 hover:border-2 hover:cursor-pointer;
}
.project{
    @apply bg-black block pb-20;
}
.project_anh{
    @apply flex;
}
.project_anh1{
    @apply flex;
}
.project_anh_item{
    @apply w-1/4 mr-10;
}
.project_anh_item1{
    @apply w-1/4;
}
.project_title{
    @apply text-center text-5xl pt-36 text-white;
}
.div_project_menu{
    @apply flex text-white bg-slate-600 mx-72 justify-around text-2xl px-10 my-20 font-thin h-20;
}
.project_menu_item{
    @apply px-4 py-5 hover:border-b-4 duration-200 cursor-default;
}
.project_bot{
    @apply  bg-neutral-800 py-20;
}
.project_bot_p{
    @apply text-5xl text-yellow-500 py-20 border-slate-500 border-2 text-center font-semibold ;
}
.why_choosing{
    @apply w-full my-16;
}
.why_content_all{
    @apply flex;
}
.why_content{
    @apply w-1/3 border-inherit p-10 border-2 mx-6 my-6 hover:border-yellow-500;
}
.why_title{
    @apply text-black ml-6 my-28 text-5xl font-bold;
}
.why_content_title{
    @apply text-black font-thin text-4xl;
}
.why_content_des{
    @apply text-2xl text-gray-400;
}
.special_all{
    @apply bg-violet-400;
}
.special{
    @apply flex;
}
.special_left{
    @apply text-5xl my-20;
}
.special_right{
    @apply px-16 py-10 bg-yellow-400 text-4xl mx-10 w-1/3 my-20;
}
.latest{
    @apply flex;
}
.latest_all{
    @apply py-20;
}
.latest_tieud{
    @apply text-5xl py-10 pl-5;
}
.latest_item{
    @apply px-5;
}
.latest_date{
    @apply text-2xl pt-3;
}
.latest_title{
    @apply text-4xl py-3;
}
.latest_des{
    @apply text-2xl;
}
.cus{
    @apply bg-neutral-800;
}
.cus_title{
    @apply text-center text-white pt-32 text-5xl;
}
.cus_des{
    @apply text-center text-white py-20 text-2xl;
}
.img_request{
    @apply absolute;
}
.request_left{
    @apply w-1/3;
}
.request_center{
    @apply w-2/4 ml-14;
}
.request_form{
    @apply text-2xl;
}
.request_content{
    @apply flex absolute pt-32;
}
.request_tieud{
}
.request_title{
    @apply font-thin text-4xl;
}
.request_des{
    @apply text-2xl;
}
.request_btn{
    @apply bg-yellow-400 px-10 py-5 text-white font-semibold mt-32;
}
.list{
    @apply bg-yellow-400 mt-96 pt-52 pb-24;
}
.list_ul{
    @apply flex justify-between;
}
.list_li{
    @apply text-4xl text-white border-gray-500 border-2 px-20 py-11 font-bold;
}
.bottom_title{
    @apply text-2xl ml-16 text-white font-semibold;
}
.bottom_ul_li{
    @apply text-white text-2xl pr-20 pl-2 leading-10;
}